@using System.Web.Mvc.Html
@using RazorViewsForMarketers.Helpers
@inherits BladeRazorRenderingEditorTemplate<RazorViewsForMarketers.Models.Fields.NumberField>

<div class="field">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsRequired)
    @Html.Hidden("ModelType", Model.ModelType)
    
    @BladeHtmlHelper.SitecoreLabel(Html, model => model)

    @Html.TextBoxFor(model => model.Response)
    @BladeHtmlHelper.RequiredIndicator(model => model)

    <p>@Model.Information</p>

    @Html.ValidationMessageFor(model => model.Response)
</div>