@using System.Web.Mvc.Html
@using RazorViewsForMarketers.Helpers
@inherits RazorViewsForMarketers.Helpers.BladeRazorRenderingEditorTemplate<RazorViewsForMarketers.Models.Fields.TelephoneField>

<h2>TelephoneField</h2>
<div class="field">
    @Html.HiddenFor(model => model.ValidatorIds)
    @Html.HiddenFor(model => model.IsRequired)
    @Html.Hidden("ModelType", Model.ModelType)
    
    @BladeHtmlHelper.SitecoreLabel(Html, model => model)

    @Html.TextBoxFor(model => model.Response)
    @BladeHtmlHelper.RequiredIndicator(model => model)

    <p>@Model.Information</p>

    @Html.ValidationMessageFor(model => model.Response)
</div>